
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to all documents and collections
    // FOR DEVELOPMENT PURPOSES ONLY.
    // REPLACE WITH SECURE RULES BEFORE PRODUCTION.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
